<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Calculator</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to custom CSS in style.css -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>Budgeting Calculator</h1>
        <p>Please enter the cost of each category below.</p>

        <div class="container overflow-hidden text-center">
            <form method="post" action="/update">
                <!--DROPDOWN OF ALL THE STATES  -->
                <div id="stateSelect">
                    <label for="state">Select your state:</label>
                    <select id="state" name="state">
                        <option value="Alabama">AL</option>
                        <option value="Alaska">AK</option>
                        <option value="Arizona">AZ</option>
                        <option value="Arkansas">AR</option>
                        <option value="California">CA</option>
                        <option value="Colorado">CO</option>
                        <option value="Connecticut">CT</option>
                        <option value="Delaware">DE</option>
                        <option value="Florida">FL</option>
                        <option value="Georgia">GA</option>
                        <option value="Hawaii">HI</option>
                        <option value="Idaho">ID</option>
                        <option value="Illinois">IL</option>
                        <option value="Indiana">IN</option>
                        <option value="Iowa">IA</option>
                        <option value="Kansas">KS</option>
                        <option value="Kentucky">KY</option>
                        <option value="Louisiana">LA</option>
                        <option value="Maine">ME</option>
                        <option value="Maryland">MD</option>
                        <option value="Massachusetts">MA</option>
                        <option value="Michigan">MI</option>
                        <option value="Minnesota">MN</option>
                        <option value="Mississippi">MS</option>
                        <option value="Missouri">MO</option>
                        <option value="Montana">MT</option>
                        <option value="Nebraska">NE</option>
                        <option value="Nevada">NV</option>
                        <option value="New Hampshire">NH</option>
                        <option value="New Jersey">NJ</option>
                        <option value="New Mexico">NM</option>
                        <option value="New York">NY</option>
                        <option value="North Carolina">NC</option>
                        <option value="North Dakota">ND</option>
                        <option value="Ohio">OH</option>
                        <option value="Oklahoma">OK</option>
                        <option value="Oregon">OR</option>
                        <option value="Pennsylvania">PA</option>
                        <option value="Rhode Island">RI</option>
                        <option value="South Carolina">SC</option>
                        <option value="South Dakota">SD</option>
                        <option value="Tennessee">TN</option>
                        <option value="Texas">TX</option>
                        <option value="Utah">UT</option>
                        <option value="Vermont">VT</option>
                        <option value="Virginia">VA</option>
                        <option value="Washington">WA</option>
                        <option value="West Virginia">WV</option>
                        <option value="Wisconsin">WI</option>
                        <option value="Wyoming">WY</option>
                    </select>
                </div>
                <!-- INCOME BOX  -->
                <div id="income">
                    <label id="income-label" for="income">Gross monthly income: </label>
                    <input id="income-input" class="p-3" type="number" min="0" name="income"/>
                </div>
                <!-- ROWS & COLUMNS FOR GRID-LOOKING LAYOUT -->
                <div class="row">
                    <div class="col-4">
                        <div class="heading">Needs</div>
                        <div id="needsFields">
                            <div class="input-group mb-3">
                                <label for="housing" class="input-group-text">Housing</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="housing" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="utilities">Utilities</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="utilities" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="groceries">Groceries</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="groceries" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="transportation">Transportation</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="transportation" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="healthcare">Healthcare</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="healthcare" placeholder="Amount"/>
                            </div>
                            
                            
                        </div>
                        <button type="button" id="addNeed" class="btn btn-secondary btn-sm">Add Need</button>
                    </div>
                    <div class="col-4">
                        <div class="heading">Wants</div>
                        <div id="wantsFields">
                            <div class="input-group mb-3">
                                <label for="entertainment" class="input-group-text">Entertainment</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="entertainment" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label for="dining" class="input-group-text">Dining/Eating out</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="dining" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label for="hobbies" class="input-group-text">Hobbies</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="hobbies" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label for="clothing" class="input-group-text">Clothing</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="clothing" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label for="travelling" class="input-group-text">Travelling</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="travelling" placeholder="Amount"/>
                            </div>
                        </div>
                        <button type="button" id="addWant" class="btn btn-secondary btn-sm">Add Want</button>
                    </div>
                    <div class="col-4">
                        <div class="heading">Savings</div>
                        <div id="savingsFields">
                            <div class="input-group mb-3">
                                <label for="emergency" class="input-group-text">Emergency fund</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="emergency" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label for="retirement" class="input-group-text">Retirement fund</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="retirement" placeholder="Amount"/>
                            </div>
                            <div class="input-group mb-3">
                                <label for="vacation" class="input-group-text">Vacation</label>
                                <img id="dollar-sign" src="../static/images/dollar-sign.png">
                                <input class="form-control" type="number" min="0" name="vacation" placeholder="Amount"/>
                            </div>
                        </div>
                        <button type="button" id="addSaving" class="btn btn-secondary btn-sm">Add Saving</button>
                    </div>
                </div>
                <input class="btn btn-primary mt-3 mb-3" type="submit" value="Submit" name="submit">
            </form>

            <!-- Link to Bootstrap JS and main.js -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../static/javascript/main.js"></script>
        </div>
    </div>
</body>
</html>
